# 默认情况下，兼容市场份额超过 1% 的浏览器
> 1%

# 在测试环境下，兼容Chrome63
[test]
Chrome >= 63

# 在生产环境下，兼容最新的两个版本的 Chrome 和 Firefox
[production]
last 2 Chrome versions
last 2 Firefox versions

# 在开发环境下，兼容本地安装的浏览器
[development]
current node
current and maintained node versions
local
